# The public route to the host
PUBLIC_HOST="mydomain.com" 
# The password (not full pass string - e.g. admin:PREFECT_PASSWORD) for accessing prefect
PREFECT_PASSWORD="test_password"
# The url to access the database
PREFECT_API_DATABASE_CONNECTION_HOST="postgres:5432"
